---
import CategoryTags from './CategoryTags.astro'

const { article } = Astro.props
---

<div class="card h-full bg-gray-700 flex flex-col rounded-md relative overflow-hidden">
  <img
    class="w-full h-52 object-cover absolute md:relative"
    src={`http://localhost:1337${article.cover_image.data.attributes.formats.thumbnail.url}`}
    alt=""
  />
  <div class="bg-black/75 flex-1 z-21 relative md:bg-transparent md:z-0">
    <div class="card__content px-5 py-5 md:pb-0 h-full flex flex-col">
      <CategoryTags categories={article.categories} />

      <h4 class="card__title mt-auto font-semibold text-2xl">
        {article.title}
      </h4>
      <p class="card__description mt-2">
        {article.description}
      </p>
    </div>
  </div>

  <div class="card__link text-center md:mt-2">
    <a
      class="w-full block button cursor-pointer relative overflow-hidden bg-teal-600 transition-all hover:bg-white py-1 px-3 group"
      href={`/articles/${article.slug}`}
    >
      <span
        class="w-0 h-0 bg-white absolute bottom-0 left-0 ease-out duration-500 transition-all group-hover:w-full group-hover:h-full -z-1"
      ></span>
      <span
        class="w-full relative text-white transition-colors duration-300 ease-in-out group-hover:text-teal-600 z-10"
      >
        Read more
      </span>
    </a>
  </div>
</div>
